<p>profile-layout works!</p>
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="fab fa-angellist"></i> Formicary</a>
      <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="fas fa-server fa-2x"></i>&emsp;Campaigns</a></li>
        <li><a href=""><i class="fas fa-user fa-2x"></i>&emsp;My profile</a></li>
        <li><a href=""><i class="fas fa-users fa-2x"></i>&emsp;All users</a></li>
        <li><a href=""><i class="fas fa-euro-sign fa-2x"></i>&emsp;Bonuses</a></li>
        <li><a href=""><i class="fas fa-newspaper fa-2x"></i>&emsp;News</a></li>
        <li><a href=""><i class="fas fa-sign-out-alt fa-2x"></i>&emsp;Logout</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href=""><i class="fas fa-server fa-2x"></i>&emsp;Campaigns</a></li>
    <li><a href=""><i class="fas fa-user fa-2x"></i>&emsp;My profile</a></li>
    <li><a href=""><i class="fas fa-users fa-2x"></i>&emsp;All users</a></li>
    <li><a href=""><i class="fas fa-euro-sign fa-2x"></i>&emsp;Bonuses</a></li>
    <li><a href=""><i class="fas fa-newspaper fa-2x"></i>&emsp;News</a></li>
    <li><a href=""><i class="fas fa-sign-out-alt fa-2x"></i>&emsp;Logout</a></li>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>
