<header>
  <nav>
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo"><i class="fab fa-angellist"></i> Formicary</a>
      <a [routerLink]="['/']" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="row">
            <div class="col s1">
              <i class="material-icons">search</i>
            </div>
            <div class="input-field col s11" style="width: 400px">
              <input type="text" id="search-input1" class="autocomplete search-input " placeholder=" search" style="border-bottom: solid 1px #fff">
            </div>
          </div>
        </li>
        <li><a href=""><i class="fas fa-server fa-2x"></i>&emsp;All campaigns</a></li>
        <li><a href=""><i class="fas fa-newspaper fa-2x"></i>&emsp;News</a></li>
        <li><a [routerLink]="['/profile']"><i class="fas fa-sign-in-alt fa-2x"></i>&emsp;Sign in</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="row">
        <div class="col s1">
          <i class="material-icons">search</i>
        </div>
        <div class="input-field col s11">
          <input type="text" id="search-input2" class="autocomplete" placeholder=" search">
        </div>
      </div>
    </li>
    <li><a href=""><i class="fas fa-server fa-2x"></i>&emsp;All campaigns</a></li>
    <li><a href=""><i class="fas fa-newspaper fa-2x"></i>&emsp;News</a></li>
    <li><a [routerLink]="['/profile']"><i class="fas fa-sign-in-alt fa-2x"></i>&emsp;Sign in</a></li>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>
