<p>registration-page works!</p>
<div class="row">
  <h4 class="center">Please, sign up</h4>
  <div class="card col l4 offset-l4">
    <form class="col card-content s12 center" style="padding-bottom: 6px">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          <input id="username" type="text" class="validate" required autocomplete="off">
          <label for="username">Username</label>
          <span class="helper-text" data-error="wrong username" data-success="ok!"></span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" required autocomplete="off">
          <label for="email">E-mail</label>
          <span class="helper-text" data-error="wrong email" data-success="ok!"></span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate" required autocomplete="off">
          <label for="password">Password</label>
          <span class="helper-text" data-error="wrong password" data-success="ok!"></span>
        </div>
      </div>
      <button class="col s12 btn waves-effect waves-light" type="submit" name="submit">REGISTER NOW</button>
    </form>
    <div class="col card-content s12">
      <span>Already have an account? <a href=""> Sign in!</a></span>
    </div>
  </div>
</div>
