<div class="container">
  <h5>CREATE CAMPAIGN</h5>
  <div class="card">
    <div class="row">
      <div class="col s12">

        <!--        TAGS-->
        <div class="col card-content s12">
          <div class="row chips">

            <tag-input
              [(ngModel)]="campaignChips"
              [onlyFromAutocomplete]="false"
              theme='minimal'>
              <tag-input-dropdown
                [showDropdownIfEmpty]="true"
                [autocompleteItems]="existingTags"
              ></tag-input-dropdown>
            </tag-input>

          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" class="col card-content s12" style="padding-bottom: 6px">
          <div class="row">
            <!--        TITLE-->
            <div class="input-field col s6">
              <input
                formControlName="title"
                [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
                id="title" type="text" autocomplete="off">
              <label for="title">Title</label>
              <span
                *ngIf="form.get('title').touched &&
                form.get('title').invalid &&
                form.get('title').errors.required"
                class="helper-text" data-error="required field"></span>
              <span
                *ngIf="form.get('title').touched &&
                form.get('title').invalid &&
                form.get('title').errors.minlength"
                class="helper-text"
                [attr.data-error]="'Min title length '+
                form.get('title').errors.minlength.actualLength+
                '/'+
                form.get('title').errors.minlength.requiredLength"
              ></span>
            </div>
            <!--        CATEGORY-->
            <div class="col s6">
              <label for="category">Category</label>
              <select formControlName="category" id="category" class="browser-default">
                <option  *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
              </select>
            </div>
            <!--        DESCRIPTION-->
            <div class="col s12">
              <label>Description</label>
              <quill-editor
                formControlName="description"
                id="description" ></quill-editor>
            </div>
            <!--        TARGET-->
            <div class="input-field col s6">
              <input
                [ngClass]="{invalid: form.get('target').touched && form.get('target').invalid}"
                formControlName="target"
                id="target" type="number" autocomplete="off">
              <label for="target">Target</label>
              <span
                *ngIf="form.get('target').touched &&
                form.get('target').invalid &&
                form.get('target').errors.required"
                class="helper-text" data-error="required field, numbers only"></span>
              <span
                *ngIf="form.get('target').touched &&
                form.get('target').invalid &&
                form.get('target').errors.min"
                class="helper-text"
                [attr.data-error]="'Value can not be negative. How it '+
                form.get('target').errors.min.actual"
              ></span>
            </div>
            <!--        EXPIRATION-->
            <div class="input-field col s6">
              <input
                formControlName="expiration"
                id="expiration" type="date"
                value="{{form.get('expiration').value | date:'yyyy-MM-dd'}}"
                min="{{form.get('expiration').value | date:'yyyy-MM-dd'}}">
              <label for="expiration">Expiration</label>
            </div>
            <!--        YOUTUBE LINK-->
            <div class="input-field col s12">
              <input
                formControlName="youtube"
                id="youtube" type="text" autocomplete="off">
              <label for="youtube">YouTube link</label>
            </div>
          </div>
          <div class="row">
            <button
              [disabled]="form.invalid || submitted"
              class="col s12 btn waves-effect waves-light"
              type="submit" name="submit">SAVE CAMPAIGN
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

