.chips {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #9e9e9e;

}

.ng2-tags-container, .ng2-tags-container {
  border: none;
}

select {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

