<div class="col s12 m6 l4">
  <div class="card">
  <!--  IMAGE-->
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/images/image-example-5.jpg" alt="Image not found" style="height:250px;">
    </div>
  <!--  CAMPAIGN PARAMS-->
    <div class="card-content" style="padding-bottom: 0">
      <span class="card-title">Card Title</span>
      <hr style="border: solid 0.5px grey">
      <!--        AUTHOR-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">AUTHOR:</h6>
        </div>
        <div class="col m9 right-align">
          <h4 style="margin: 0; padding: 0"><b><a href="">Alexandr</a></b></h4>
        </div>
      </div>
      <!--        CATEGORY-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">CATEGORY:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>Finance</b></h4>
        </div>
      </div>
      <!--        TARGET-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">TARGET:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>2000$/3000$ or 60%</b></h4>

        </div>
      </div>
      <!--        START-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">START:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>02.02.2020</b></h4>
        </div>
      </div>
      <!--        EXPIRATION-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">EXPIRATION:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>02.03.2020</b></h4>
        </div>
      </div>
      <!--        RATING-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">RATING:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>4.2/5.0</b></h4>
        </div>
      </div>
    </div>
  <!--        LINK READ MORE-->
    <div class="row">
      <div class="col s12">
        <div class="card-action">
          <a
             [routerLink]="['/campaign', 123]"
             class="blue-grey-text text-darken-1">read more
          </a>
        </div>
      </div>
    </div>
  <!--        HIDDEN TEXT-->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>
        Here is some more information about this product that is only revealed once clicked on.
        Here is some more information about this product that is only revealed once clicked on.
        Here is some more information about this product that is only revealed once clicked on.
        Here is some more information about this product that is only revealed once clicked on.
      </p>
    </div>
  </div>
</div>







