<div class="col s12 m6 l4">
  <div class="card">
  <!--  IMAGE-->
    <div class="card-image waves-effect waves-block waves-light">
      <img *ngIf="campaign.images[0]" class="activator" src="{{ campaign.images[0].imageLink }}" alt="Image not found" style="height:250px;">
    </div>
  <!--  CAMPAIGN PARAMS-->
    <div class="card-content" style="padding-bottom: 0">
      <span class="card-title">{{ campaign.name }}</span>
      <hr style="border: solid 0.5px grey">
      <!--        AUTHOR-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">AUTHOR:</h6>
        </div>
        <div class="col m9 right-align">
          <h4 style="margin: 0; padding: 0"><b><a href="#">{{ campaign.user.username }}</a></b></h4>
        </div>
      </div>
      <!--        CATEGORY-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">CATEGORY:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>{{ campaign.category.name }}</b></h4>
        </div>
      </div>
      <!--        TARGET-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">TARGET:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>{{ campaign.collectedAmount!==null?campaign.collectedAmount:0 }}$/{{ campaign.targetAmount }}$ or {{ campaign.percent }}%</b></h4>

        </div>
      </div>
      <!--        START-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">START:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>{{ campaign.launchDate | date: 'dd-MM-yyyy' }}</b></h4>
        </div>
      </div>
      <!--        EXPIRATION-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">EXPIRATION:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>{{ campaign.expirationDate | date: 'dd-MM-yyyy' }}</b></h4>
        </div>
      </div>
      <!--        RATING-->
      <div class="row">
        <div class="col m3">
          <h6 style="margin: 0; padding: 10px 0 0 0">RATING:</h6>
        </div>
        <div class="col m9 right-align blue-grey-text text-darken-1">
          <h4 style="margin: 0; padding: 0"><b>{{ campaign.rating!==null?campaign.rating:0 }}/5</b></h4>
        </div>
      </div>
    </div>
  <!--        LINK READ MORE-->
    <div class="row">
      <div class="col s12">
        <div class="card-action">
          <a
             [routerLink]="['/campaign', campaign.id]"
             class="blue-grey-text text-darken-1">read more
          </a>
        </div>
      </div>
    </div>
  <!--        HIDDEN TEXT-->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ campaign.name }}<i class="material-icons right">close</i></span>
      <p>
        <quill-view-html [content]="campaign.description"></quill-view-html>
      </p>
    </div>
  </div>
</div>







