<router-outlet></router-outlet>
<main></main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><i class="fab fa-angellist"></i> Formicary</h5>
        <p class="grey-text text-lighten-4">Simple crowdfunding platform. Just do it</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright
      <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/alexandr-heilash-6b0055173/"><i class="fab fa-linkedin fa-3x"></i></a><br>
    </div>
  </div>
</footer>
