<div class="container">
<!--  LATEST UPDATE CAMPAIGNS-->
  <div class="divider"></div>
  <div class="section">
    <h5>LATEST UPDATE CAMPAIGNS</h5>
    <div
      *ngIf="campaignByModification$ | async as campaigns"
      class="row">

        <app-campaign-card

          *ngFor="let campaign of campaigns"
          [campaign]="campaign"

        ></app-campaign-card>

    </div>
  </div>
<!--  TAGS-->
  <div class="divider"></div>
  <div class="section">
    <h5 *ngIf="allTags">TAGS</h5>
    <div *ngIf="allTags">
      <div *ngFor="let tags of allTags"
        class="chip"><a href="#">{{tags}}</a>
      </div>
    </div>
  </div>
</div>
