<p>main-page works!</p>
<div class="container">
<!--  LATEST UPDATE CAMPAIGNS-->
  <div class="divider"></div>
  <div class="section">
    <h5>LATEST UPDATE CAMPAIGNS</h5>
    <div class="row">
        <app-campaign-card></app-campaign-card>
        <app-campaign-card></app-campaign-card>
        <app-campaign-card></app-campaign-card>
    </div>
  </div>
<!--  CAMPAIGNS WITH THE BIGGEST RATINGS-->
  <div class="divider"></div>
  <div class="section">
    <h5>CAMPAIGNS WITH THE BIGGEST RATINGS</h5>
    <div class="row">
        <app-campaign-card></app-campaign-card>
        <app-campaign-card></app-campaign-card>
    </div>
  </div>
<!--  TAGS-->
  <div class="divider"></div>
  <div class="section">
    <h5>TAGS</h5>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
    <div class="chip"><a href="">Tag 1</a></div>
  </div>
</div>
