<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h5>CAMPAIGNS</h5>
    <div class="row">
      <div class="col s12">
<!--        FILTER-->
          <div class="row">
            <div class="input-field form-control">
              <i class="material-icons prefix">filter_list</i>
              <input [(ngModel)]="filterStr"
                id="filter" type="text">
              <label for="filter">Campaign filter</label>
            </div>
          </div>
      </div>
      <div class="col s12">
        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Target</th>
            <th>Expiration</th>
            <th>Rating</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let campaign of campaigns | filterCampaigns: filterStr; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ campaign.name }}</td>
            <td>{{ campaign.category.name }}</td>
            <td>{{ campaign.collectedAmount!==null?campaign.collectedAmount:0 }}/{{ campaign.targetAmount }} or {{ campaign.percent }}%</td>
            <td>{{ campaign.expirationDate | date: 'dd-mm-yyyy' }}</td>
            <td>{{ campaign.rating!==null? campaign.rating: 0 }}/5</td>
            <td><a [routerLink]="['/profile', userId,'campaign', campaign.id,'edit']" class="waves-effect waves-light btn-small"><i class="material-icons left">edit</i>edit</a></td>
            <td><a class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i>delete</a></td>
            <td><a [routerLink]="['/campaign', campaign.id]" class="waves-effect waves-light btn-small"><i class="material-icons left">pageview</i>preview</a></td>
          </tr>
          </tbody>
        </table><br><br>
        <a [routerLink]="['/profile', auth.id,'campaign','create']" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Add campaign</a>
      </div>
    </div>
  </div>
</div>

