<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{bonus.name}}</span>
        <span class="card-title"><b>{{bonus.amount}}$</b></span>
        <p>
          <quill-view-html [content]="bonus.description"></quill-view-html>
        </p>
      </div>
      <div class="card-action">
        <button [disabled]="!auth.isAuthenticated()" (click)="by(bonus.id)" class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
      </div>
    </div>
  </div>
</div>
