<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h5>PRIFILE</h5>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
          <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Theme</th>
            <th>Language</th>
            <th>Privilege</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.theme}}</td>
            <td>{{user.language}}</td>
            <td>{{user.role}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

