<p>campaign-page works!</p>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-action blue-grey darken-3" style="margin-bottom: 15px">
        <div class="card-title blue-grey-text text-lighten-5"><b>Name of campaign</b></div>
      </div>
      <div class="card-image col m6">
        <img src="assets/images/image-example-5.jpg" alt="Image not found" style="height:320px;">
      </div>
      <div class="col m6">
        <!--        AUTHOR-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">AUTHOR:</h6>
          </div>
          <div class="col m9 right-align">
            <h4 style="margin: 0; padding: 0"><b><a href="">Alexandr</a></b></h4>
          </div>
        </div>
        <!--        CATEGORY-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">CATEGORY:</h6>
          </div>
          <div class="col m9 right-align blue-grey-text text-darken-1">
            <h4 style="margin: 0; padding: 0"><b>Finance</b></h4>
          </div>
        </div>
        <!--        TARGET-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">TARGET:</h6>
          </div>
          <div class="col m9 right-align blue-grey-text text-darken-1">
            <h4 style="margin: 0; padding: 0"><b>2000$ of 3000$</b></h4>
          </div>
        </div>
        <!--        START-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">START:</h6>
          </div>
          <div class="col m9 right-align blue-grey-text text-darken-1">
            <h4 style="margin: 0; padding: 0"><b>02.02.2020</b></h4>
          </div>
        </div>
        <!--        EXPIRATION-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">EXPIRATION:</h6>
          </div>
          <div class="col m9 right-align blue-grey-text text-darken-1">
            <h4 style="margin: 0; padding: 0"><b>02.03.2020</b></h4>
          </div>
        </div>
        <!--        RATING-->
        <div class="row">
          <div class="col m3 right-align">
            <h6 style="margin: 0; padding: 10px 0 0 0">RATING:</h6>
          </div>
          <div class="col m9 right-align blue-grey-text text-darken-1">
            <h4 style="margin: 0; padding: 0"><b>4.2 of 5.0</b></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collection">
            <!--            TAGS-->
            <li class="collection-item">
              <div class="chip"><a href="">Tag 1</a></div>
              <div class="chip"><a href="">Tag 2</a></div>
              <div class="chip"><a href="">Tag 3</a></div>
              <div class="chip"><a href="">Tag 4</a></div>
            </li>
            <!--            RATING-->
            <li class="collection-item row">
              <div class="col s6">
                EVALUATE THIS CAMPAIGN:
              </div>
              <div class="col s6">
                <ul class="rating-list">
                  <li><i class="fab fa-angellist fa-2x"></i></li>
                  <li><i class="fab fa-angellist fa-2x"></i></li>
                  <li><i class="fab fa-angellist fa-2x"></i></li>
                  <li><i class="fab fa-angellist fa-2x"></i></li>
                  <li><i class="fab fa-angellist fa-2x"></i></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--      TABS PANEL-->
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a class="active" href="#tab1">Description</a></li>
          <li class="tab"><a href="#tab2">Comments</a></li>
          <li class="tab"><a href="#tab3">Bonuses</a></li>
          <li class="tab"><a href="#tab4">News</a></li>
          <li class="tab"><a href="#tab5">Gallery</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <!--        TAB DESCRIPTION-->
        <div id="tab1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aut nisi porro tempore. A commodi dicta exercitationem id ipsam iure laboriosam laborum, maiores molestiae necessitatibus nesciunt nisi nulla obcaecati officia quam ratione rerum saepe voluptate voluptates voluptatibus. Dolor doloremque est hic, impedit incidunt nobis odio rem repellendus tenetur vero?
        </div>
        <!--        TAB COMMENTS-->
        <div id="tab2">
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle">folder</i>
              <span class="title">Author</span>
              <p>Date</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, labore?</p>
              <ul class="likes-list">
                <li>
                  <i class="fas fa-thumbs-up"></i>
                  <span>10</span>
                </li>
                <li>
                  <i class="fas fa-thumbs-down"></i>
                  <span>10</span>
                </li>
              </ul>
            </li>
          </ul>
          <div class="row" style="margin: 0">
            <form>
              <div class="input-field col s10">
                <i class="material-icons prefix">message</i>
                <input id="password" type="email" class="validate" required autocomplete="off">
                <span class="helper-text" data-error="wrong password" data-success="ok!"></span>
              </div>
              <div class="input-field col s2 right-align">
                <button class="btn waves-effect waves-light" type="submit" name="submit">POST</button>
              </div>
            </form>
          </div>
        </div>
        <!--        TAB BONUS-->
        <div id="tab3">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Bonus Title</span>
                  <span class="card-title"><b>300$</b></span>
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Bonus Title</span>
                  <span class="card-title"><b>300$</b></span>
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Bonus Title</span>
                  <span class="card-title"><b>300$</b></span>
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Bonus Title</span>
                  <span class="card-title"><b>300$</b></span>
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Bonus Title</span>
                  <span class="card-title"><b>300$</b></span>
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light" type="submit" name="submit">PROMOTE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        TAB NEWS-->
        <div id="tab4">NEWS
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">News Title</span>
                  <p>Date</p><hr style="border: 0.5px solid grey">
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <a href="#" class="blue-grey-text text-darken-1">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">News Title</span>
                  <p>Date</p><hr style="border: 0.5px solid grey">
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <a href="#" class="blue-grey-text text-darken-1">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">News Title</span>
                  <p>Date</p><hr style="border: 0.5px solid grey">
                  <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                  </p>
                </div>
                <div class="card-action">
                  <a href="#" class="blue-grey-text text-darken-1">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        TAB GALLERY-->
        <div id="tab5">GALLERY
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">ondemand_video</i>YOUTUBE</div>
              <div class="collapsible-body">
                <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">image</i>IMAGES</div>
              <div class="collapsible-body">
                <div class="row">
                  <img class="materialboxed" width="650" src="assets/images/image-example-5.jpg">
                </div>
                <div class="row">
                  <img class="materialboxed" width="650" src="assets/images/image-example-4.jpg">
                </div>
                <div class="row">
                  <img class="materialboxed" width="650" src="assets/images/image-example-2.jpg">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  articles!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  creation_date
  image
  text
  name

  users buy!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</div>
